@using Etutor.Models
@model List<Document>
@{
    ViewBag.Title = "Index";
}

<h2>DOCUMENTS</h2>
<p>
    @Html.ActionLink("Upload your document", "Upload")
</p>
<label>DOCUMENTS</label>
<table class="table">
    <tr>
        <th>
            <label>File Name</label>
        </th>
        <th>
            <label>Upload Time</label>
        </th>
        <th>
            <label>Type</label>
        </th>
        <th>
            <label>Download</label>
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UploadTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.ActionLink("Download", "Download",new { download = item.Url })
            </td>
        </tr>
    }

</table>

